<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app='APP_NAME'>
    <div class="container">
      <ui-view></ui-view>
    </div>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

    <script src="/javascripts/module.js"></script>
    <script src="/javascripts/models.js"></script>
    <script src="/javascripts/controllers.js"></script>
  </body>
</html>
